<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 20%;
      }
    
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <br>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %> Example</p>
      </br>
      <form action="/postvegies" method="post">
        <fieldset>
          <label for="name">Vegie Name:</label>
          <input type="text" id="name" name="name" placeholder="Vegie Name" />
      
          <label for="name">Quantity</label>
          <input type="text" id="qty" name="qty" placeholder="Quantity" />

          <input type="submit" value="Add to Cart" />
        </fieldset>
      </form>

      <br>
      <table id="vegietab">
        <tr>
          <th>Vegie Name</th>
          <th>Quantity</th>
        </tr>
      </table>
  <script>

  window.onload = function () {
    setInterval(function () {
      updateTable();
    }, 15000);
  };

    function updateTable() {

      jQuery.ajax({
        type: "GET",
        url: "http://localhost:3000/getproduct",
        success: function (result) {
          console.log("Success: ", JSON.parse(result));
          var obj = JSON.parse(result);

          var table = document.getElementById("vegietab");
          for (var i = table.rows.length - 1; i > 0; i--) {
            table.deleteRow(i);
          }

          for(let key of Object.keys(obj)){
            console.log(key + ':' + obj[key]);
            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(1);
            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            // Add some text to the new cells:
            cell1.innerHTML = key;
            cell2.innerHTML = obj[key];

          }
        },
        error: function (e) {
          console.log("ERROR: ", e);
        }
      });
    }
  </script>
</body>
</html>